[package]
name = "proxy"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1.0", features = ["full"] }
log = "0.4.14"
simple_logger = "4.0.0"
rand = "0.8"
csv_updater = { path = "../csv_updater" }